<div class="container">
  <h4>
    ¡Bienvenidos a Araceli Nails! En Araceli Nails, fusionamos pasión,
    creatividad y más de 3 años de experiencia para ofrecerte una experiencia
    única en el cuidado y diseño de uñas. Nos apasiona resaltar la belleza y el
    arte en cada detalle.
    <br />
    <br />
    Cada uña es un lienzo en blanco, listo para ser transformado en una obra de
    arte que refleje tu estilo y personalidad. Nuestro compromiso es brindarte
    un servicio excepcional, utilizando las últimas tendencias y técnicas de
    diseño de uñas.
    <br />
    <br />
    Te invitamos a explorar nuestro portafolio, donde encontrarás ejemplos de
    nuestro trabajo y diseños que han cautivado a nuestros clientes. Además,
    ponemos a tu disposición una forma sencilla de contactarnos para que puedas
    reservar tu turno y comenzar a crear juntos un look único para tus uñas.
    <br />
    <br />

    En <strong>Araceli Nails</strong>, tu satisfacción es nuestra prioridad.
    ¡Únete a nuestra comunidad y descubre el mundo de posibilidades para tus
    uñas! ¡Haz tus uñas un lienzo de creatividad y estilo con nosotros!
  </h4>

  <div class="enlaces">
    <a routerLink="/servicios" class="btn btn-outline-primary">Ver Servicios</a>
    <a routerLink="/trabajos" class="btn btn-secondary">Ver Trabajos</a>
  </div>
</div>
