h2 {
  text-align: center;
  margin: 1.5em 0;
}

.form-control,
.contenedorOpinion {
  margin: 1em 0;
}

.contenedorOpinion {
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.nombreOpinion {
  font-weight: bold;
}

.textoOpinion {
  font-style: oblique;
}
