<div class="contenedor">
  <div class="caja uno">
    1
  </div>
  <div class="caja dos">    <img src="/assets/Trabajos/trabajo1.jpeg" alt=""></div>
  <div class="caja tres">    </div>
  <div class="caja cuatro"><img src="/assets/Trabajos/trabajo2.jpeg" alt="">
    <img src="/assets/Trabajos/trabajo3.jpeg" alt=""></div>
  <div class="caja cinco">
    <img src="/assets/Trabajos/trabajo4.jpeg" alt="">
    <img src="/assets/Trabajos/trabajo5.jpeg" alt="">
  </div>
  <div class="caja seis">6</div>
  <div class="caja siete"><img src="/assets/Trabajos/trabajo7.jpeg" alt="">
    <img src="/assets/Trabajos/trabajo6.jpeg" alt="">
  </div>
  <div class="caja ocho">8</div>
  <div class="caja nueve">9</div>
  <div class="caja diez">10</div>
  <div class="caja once">11</div>
</div>