.contenedor {
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
}

.caja {
  border: 5px solid#bad9eb;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.uno {
  grid-column: 1/5;
  grid-row: 1/2;
  
}

.dos {
  grid-column: 5/7;
  grid-row: 1/4;
}

.dos img {
  width: 100%;
}

.tres {
  grid-column: 7/10;
  grid-row: 1/2;
  
}

.cuatro img {
  width: 50%;
  height: 100%;
}

.cuatro {
  grid-column: 7/10;
  grid-row: 2/4;
  gap: 1em;
}

.cinco {
  grid-column: 1/3;
  grid-row: 2/3;
  gap: 1em;
}

.cinco img {
  width: 50%;
}

.seis {
  grid-column: 3/5;
  grid-row: 2/3;
}

.siete {
  grid-column: 1/2;
  grid-row: 3/5;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.siete img {
  width: 100%;
}

.ocho {
  grid-column: 2/5;
  grid-row: 3/4;
}

.nueve {
  grid-column: 2/4;
  grid-row: 4/5;
}

.diez {
  grid-column: 4/8;
  grid-row: 4/5;
}

.once {
  grid-column: 8/10;
  grid-row: 4/5;
}