<div class="container">
  <div class="row">
    <div class="col-8 col-md-3 mx-auto">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/Trabajos/trabajo1.jpeg"
              class="d-block w-100"
              alt="Trabajo 1"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/Trabajos/trabajo2.jpeg"
              class="d-block w-100"
              alt="Trabajo 2"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/Trabajos/trabajo3.jpeg"
              class="d-block w-100"
              alt="Trabajo 3"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/Trabajos/trabajo4.jpeg"
              class="d-block w-100"
              alt="Trabajo 4"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/Trabajos/trabajo5.jpeg"
              class="d-block w-100"
              alt="Trabajo 5"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/Trabajos/trabajo6.jpeg"
              class="d-block w-100"
              alt="Trabajo 6"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/Trabajos/trabajo7.jpeg"
              class="d-block w-100"
              alt="Trabajo 7"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon btn btn-dark"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon btn btn-dark"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
